// Calculates y = |x|
// x & y are static variables

// Put your code here.
// Load x (static 0) into D
push static 0

push static 0

push constant 0
lt
if-goto NEGATIVE

push static 0
pop static 1
goto END

label NEGATIVE
push constant 0
sub
pop static 1 // y = -x

label END
goto END

label END
goto END
