// Calculates y = |x|
// x & y are static variables

// Put your code here.
push static 0
pop static 1

// check if x is negative
push static 1
lt 0
if-goto NEGATIVE

// If x is positive or zero, y = x
push static 1
goto END

// If x is negative, y = -x
label Negative
push static 1
neg

// Store y in static 1
label END
pop static 1

// infinite loop
label LOOP
goto LOOP
